html {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

main {
    flex: 1;
}

body {
    background-image: url(images/background-image.jpg);
    background-size: cover;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.color-text {
    color: #fe5a75;
    background-color: rgba(236, 236, 248, 0.4);
}

/* header styles */
.header {
    width: 100%;
    background-color: rgba(254, 90, 117, 0.3);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.header__logo-image {
    max-width: 15%;
    max-height: 15%;
    padding: 0 30px;
}

.header__nav {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.header__list {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.header__link {
    display: block;
    padding: 0 10px;
    line-height: 100%;
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
}

/* end of header styles */

/* self presentations section styles */
.about-me {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    margin: 0;
}

.about-me__image {
    max-width: 50%;
    height: auto;
}

.about-me__description {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 20px;
    letter-spacing: 5px;
    gap: 30px;
}

.about-me__header {
    margin: 0;
    text-align: center;
}

.about-me__paragraph {
    margin: 0;
}

/* end of self presentations section styles */

/* arrow styles */
.arrow,
.centered-image-conteiner {
    display: flex;
    justify-content: center;
    /* margin-bottom: 20px; */
}

.arrow__image {
    width: auto;
    max-height: 50px;
}

/* end arrow styles */

/* table styles */
.skills {
    display: flex;
    flex-direction: column;
}

.skills__header {
    font-style: italic;
    text-align: center;
    margin: 0;
}


.skills__tabel {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 15px;
}

.skills__column {
    background-color: rgba(249, 249, 249, 0.5);
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0 2px 4px rgba(254, 90, 117, 0.4);
    border-radius: 10px;
}

.skills__column-name {
    background-color: #644f88;
    color: white;
    word-spacing: 10px;
    font-size: 1.2em;
    padding: 10px;
    text-align: center;
    margin: 0;
}

.skills__image-container {
    display: flex;
    justify-content: center;
}

.skills__image {
    width: 20%;
    height: auto;
    max-width: 100px;
    max-height: 100px;
}

.skills__item {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.skills__set {
    background-color: #b4b0fa;
    font-size: 1.1em;
    text-align: center;
    margin: 0;
}

.skills__list {
    list-style: none;
    margin: 0;
    padding: 0;
    align-content: space-between;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* end of table styles */

/* about visitor section style */
.about-you {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.about-you__form {
    background: rgba(249, 249, 249, 0.4);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(254, 90, 117, 0.4);
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-you__header {
    background-color: rgba(255, 73, 103, 0.4);
    color: rgba(255, 255, 255, 1);
    letter-spacing: 5px;
    font-size: 18px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(254, 90, 117, 0.4);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
}

.about-you__image {
    max-width: 80px;
    height: auto;
    padding: 10px;
}

.about-you__description {
    margin: 0;
    padding-bottom: 10px;
}

.about-you__form-field {
    display: flex;
    flex-direction: column;
    gap: 20px
}

.about-you__field-label {
    font-weight: bold;
    font-size: 1.1em;
}

.about-you__text-field {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px 1px rgba(254, 90, 117, 0.1);
    font-size: 0.9em;
}

.about-you__languages {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;
}

.about-you__radio-option,
.about-you__checkbox-option {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    text-align: center;
}

.about-you__checkbox-button,
.about-you__radio-button {
    accent-color: rgba(253, 89, 116, 1);
    margin: 0;
    align-items: center;
}

.about-you__file_field {
    background: #fff;
    cursor: pointer;
}

.about-you__color-field {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.about-you__drop-down {
    width: 100%;
}

.about-you__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
}

.about-you__reset-button,
.about-you__submit-button,
.about-you__hug-button {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.about-you__reset-button {
    background-color: rgba(254, 90, 117, 1);
    color: #ffffff;
}

.about-you__reset-button:hover {
    background-color: #ec0b0b;
}

.about-you__submit-button {
    background-color: rgba(254, 90, 117, 1);
    color: #ffffff;
}

.about-you__submit-button:hover {
    background-color: #1ebf1c;
}

.about-you__hug-button {
    background-color: rgba(254, 90, 117, 1);
    color: #ffffff;
}

.about-you__hug-button:hover {
    background-color: rgba(254, 90, 117, 0.5);
}

/* end of about visitor section style */

/* brand details page styles */
.brand-details {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0;
}
.brand-details__logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.brand-details__logo {
    width: auto;
    height: auto;
    max-width: 200px;
    max-height: 200px;
}

.brand-details__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-grow: 1;
}

.brand-details__name {
    margin: 0;
}

.brand-details__description {
    margin: 0;
}
/* end of brand details page styles */

/* footer styles */
.footer {
    background-color: rgba(254, 90, 117, 1);
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px 0;
    flex-shrink: 0;
}

.footer__motivation {
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-style: italic;
    text-align: center;
    margin: 0;
}

.footer__links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 0;
    padding: 0;
}

.footer__link img {
    width: 40px;
    height: auto;
    transition: transform 0.5s;
}

.footer__link img:hover {
    transform: scale(2);
}

/* end of footer styles  */